
body {
    background-color: #1B4F72;
  }
  
  #playfield {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B4F72;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }